precheck_results/
verilog/includes/rom_tile.vmem
venv/
sta.log

datasheet.md
datasheet.pdf
shuttle_index.json
shuttle_index.md

# Auto generated eFabless submission files:
efabless/gds/*.gds
efabless/gds/*.lef
efabless/verilog/gl/user_project_wrapper.v
efabless/verilog/gl/openframe_project_wrapper.v
efabless/verilog/rtl/user_defines.v
efabless/README.md

# pip-compile
*.egg-info
